.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #007bff !important;
}

.nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #007bff !important;
}

.nav-link:hover {
    color: #0056b3 !important;
    text-decoration: underline;
}